@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #fafafa;
}

a, a:hover {
    text-decoration: none;
    color: #5C636A;
}

a:active, a:focus {
    color:orange;
}

ul {
    list-style-type: none;
}

.top-navigation {
    background-color:#fafafa;
    
}

.shopping-bag {
    color: orange;
    font-size: 1.25em;
    margin: 0.35em 0.5em 0 1em;
    border-radius: 5px;
    border-color: orange;
    padding: 5px 5px 5px 5px;
}

.shopping-bag-total-desktop {
    font-size: 1.25em;
    color: #6C757D;
    padding: 0 1em 0 1em;
}

.shopping-bag-total {
    font-size: 0.85em;
    color: #6C757D;
    padding: 0 1em 0 1em;
}

.desktop-nav-link {
    font-size: 1.25em;
    color:#6C757D;
    padding:0 0.5em 0 0.5em;
}

.navlink-alignment {
    font-size: 1.25em;
    line-height: -5;
}

.telephone-number {
    font-size: 1.25em;
}

.fa-search, .starcolor {
    color: orange;
    border-color: orange;
}

.form-control:focus {
    border-color: #6C757D !important;
    box-shadow: 0 0 7px #6C757D !important;
}

.btn-outline-secondary {
    margin: 0 2px 0 20px;
}

.main-logo {
    height: 90px;
    width: 90px;
    margin: 0 10px 20px 20px;
    padding: 5px 5px 5px 5px;
    animation: rotate 3s linear;
}

.shopping-cart-mobile {
    background-color: #E9E9EB;
    height: 42px;
}

.desktop-navigation {
    background-color:#a0a0a0;
}

.fa-home {
    color: orange;
}

.bike {
    color: #fafafa;
    margin-left: -1.75em;
    margin-top: 1.5em; 
    animation:  fadein 5s;
}

ul > li {
    display: inline-block;   
}

.nav-link {
    color:#6C757D;
}

.nav-link:hover, .breadcrumb, .override-link-color:hover, .footer-link:hover, .social-media:hover, .payment-types:hover, .maps-location:hover, .btn-secondary:hover, .btn-outline-success:hover, .btn-outline-secondary, .features-bulletpoint, .desktop-nav-link:hover {
    color: orange;
}

.carousel-heading {
    color:white;
    font-weight:900;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadein 3.5s;
}

.image-opacity-9 {
    opacity: 0.85;
}

.categories {
    border:1px solid #fafafa;
    color:#6C757D;
    background-color: #E9E9EB;
    height: 42px;
}

.grow-effect:hover, .grow-effect:active {
    transform: scale(1, 1.02);
    transition: transform .55s;
    background-color:#fafafa;
    border: 1px solid #5C636A;
}

.main-page-quote {
    padding: 2em 1em 1em 1em;
    font-weight: 900;
    background-clip: text;
    color: transparent;
    background: #5C636A;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.9);
    -webkit-background-clip: text;
    -moz-background-clip: text;
}

.text-font-weight {
    font-weight: 900;
}

.disabled-feature {
    opacity: 0.5;
    pointer-events: none;
}

.brands-logo {
    height: 17.2vh;
    width: 13vw;
}

.brand-carousel-1 {
    background-image: url('/media/brand-altura.png');
    width: 100vw;
    height: 12vh;
    background-size: cover;
    background-position: center;
    margin: 4em 0 3em 0;
    
}

.brand-carousel-2 {
    background-image: url('/media/brand-shimano.png');
    width: 100vw;
    height: 12vh;
    background-size: cover;
    background-position: center;
    margin: 4em 5em 3em 5em;
    
}

.brand-carousel-3 {
    background-image: url('/media/brand-continental.png');
    width: 100vw;
    height: 15vh;
    background-size: cover;
    background-position: center;
    margin: 3.75em 0 3em 0;
    
}

.brand-carousel-4 {
    background-image: url('/media/brand-giant.png');
    width: 100vw;
    height: 12vh;
    background-size: cover;
    background-position: center;
    margin: 3.75em 5em 3em 5em;
}

.brand-carousel-5 {
    background-image: url('/media/brand-oakley.png');
    width: 100vw;
    height: 12vh;
    background-size: cover;
    background-position: center;
    margin: 3.5em 0 3em 0;
}

.brand-carousel-6 {
    background-image: url('/media/brand-sis.png');
    width: 100vw;
    height: 12vh;
    background-size: cover;
    background-position: center;
    margin: 4em 0.5em 3em 2em;
}

.brand-carousel-7 {
    background-image: url('/media/brand-liv.png');
    width: 100vw;
    height: 12vh;
    background-size: cover;
    background-position: center;
    margin: 3.5em 0 3em 0;
}

.brand-carousel-8 {
    background-image: url('/media/brand-schwalbe.png');
    width: 100vw;
    height: 12vh;
    background-size: cover;
    background-position: center;
    margin: 4em 3em 3em 2em;
}

.brand-carousel-link:hover {
    display:block; 
    height:100%; 
    width:100%;
}

.empty-star {
    color:#E9E9EB;
}

.star-color-effect:hover {
    transform: scale(1, 1.25);
    transition: transform 0.1s;
    
}

.description-highlights:hover {
    background-color: #fafafa;
    color: black;
    transform: scale(1, 1.05);
    transition: transform 0.01s;
}

.star-color-effect {
    animation: rotate 2s reverse;
}

.form-quantity {
    display:inline!important;
    padding-top: 5px;
    padding-bottom: 10px;
    max-width: 20%;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.grow-element {
    animation: grow 2s;
    font-weight: 600;
}

.reduce-image {
    margin: 2em 0 2em 0;
    max-width: 70%;
    max-height: 50%;
}

.features-bulletpoint, .features-text {
    margin-left: 1em;
    
}

.bike-rotate {
    animation: rotate 3s linear;
}

.product-bike-features:hover{
    transform: scale(1, 1.01);
    transition: transform 0.01s;
    background-color: #E9E9EB;
    font-weight: 900;
}

.no-products {
    background-color: whitesmoke;
    padding: 10em 0 10em 0;
}

.mobile-dropdown-heading {
    color: #6C757D;
    font-size: 1.25em;
    font-weight: 900;
    margin-left: 0.85em;
    line-height: 2;
}

.top-discount-banner {
    max-height: 10%;
    width: auto;
    background-color: #E9E9EB;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}


.text-grow {
    animation: pulse 3s forwards;
    color: orange;
    font-weight: 900;
}

/* --------- Keyframes Calls -------------- */

/* Rotates the CycleScence icon on load to simulate a bike wheel */
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

/* Controls the animation on the top-discount-banner text */
@keyframes pulse {
    0% {
        transform: scale(0.85);
    }

    70% {
        transform: scale(1.05);
        box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
    }

    100% {
        transform: scale(0.95);
    }
}

/* fades in an element */
@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* -- Firefox -- */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* -- Safari, Opera and Chrome --  */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* --- IE --- */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes grow {
    from {
      opacity: 0;
      transform: scale(0);
    }
    to {
      opacity: 0.5;
      transform: scale(1);
    }
  }

  

/* --------- Media queries ---------------- */
/*- < 250px-*/
@media only screen and (max-width: 249px) {
    .telephone-number, .shopping-cart-desktop, .desktop-navigation, .desktop-caret, .desktop-contact-us, .shopping-bag-total-desktop, .search-box, .desktop-search-button, .brands {
        display: none;
    }
    
    .carousel-heading {
        font-size: 1em;
        top: 20%;    
    }

    .main-page-quote > h2 {
        font-size: 1em;
    }

    body {
        font-size: 1.1em;
    }

    .btn-minus, .btn-plus {
        display: none;
    }
    
    .form-quantity {
        padding-top: 5px;
        padding-bottom: 10px;
        width:auto;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .features-bulletpoint, .features-text {
        margin-left: 0.25em;
        font-size:small;
    }
}
  /*- 250px - 320px -*/
  @media only screen and (min-width: 250px) and (max-width: 320px) {

    .telephone-number, .shopping-cart-desktop, .desktop-navigation, .desktop-caret, .desktop-contact-us, .shopping-bag-total-desktop, .search-box, .desktop-search-button, .brands {
        display: none;
    } 

    .btn-outline-secondary {
        margin: 0 2px 0 2px;
    }

    .newsletter-input-box {
        max-width: 100px;
    }

    .carousel-heading {
        font-size: 1em;
        top: 20%;    
    }

    .main-page-quote > h2 {
        font-size: 1em;
    }

    .main-logo {
        margin: 5px 10px 20px 0px;        
    }

    .input-group {
        width: 100%;
    }

    .search-box {
        max-width: 160px;
        margin-left: 0.2em;
        margin-right: 0;
    }

    .mobile-navigation-topmenu {
        margin-left: 0.9em;       
    }

    .btn-minus, .btn-plus {
        display: none;
    }

    .form-quantity {
        display:inline!important;
        padding-top: 5px;
        padding-bottom: 10px;
        width:auto;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .features-bulletpoint, .features-text {
        margin-left: 0.25em;
        font-size:medium;
    }

  }
  /*- 321px - 499px -*/
  @media only screen and (min-width: 321px) and (max-width: 499px) {

    .telephone-number, .shopping-cart-desktop, .desktop-navigation, .desktop-caret, .desktop-contact-us, .shopping-bag-total-desktop, .display-on-smallscreen, .brands {
        display: none;
    }
    
    .main-logo {
        margin: 0 10px 10px 0px;
        padding: 3px 3px 3px 3px;
    }

    .form-control {
        width:auto;
    }
    
    .btn-outline-secondary {
        margin: 0 2px 0 2px;
    }

    .search-box {
        max-width: 140px;
        margin-left: -2.2em;
        margin-right: 0;
    }

    .carousel-heading {
        font-size: 1.5em;
        top: 50%;   
    }

    .main-page-quote > h2 {
        font-size: 1em;
    }

    body {
        font-size: 1.0em;
    }

    .mobile-navigation-topmenu {
        margin-left: 0.9em;
    }

    .brands-logo {
        width: 100%;
        height: 100%; 
        object-fit: contain;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .features-bulletpoint, .features-text {
        margin-left: 0.25em;
        font-size:medium;
    }
  }
  
  /*- 500px - 767px -*/
  @media only screen and (min-width: 500px) and (max-width: 767px) {
    
    .telephone-number, .shopping-cart-desktop, .desktop-navigation, .desktop-caret, .desktop-contact-us, .shopping-bag-total-desktop, .display-on-smallscreen, .brands {
        display: none;
    }
    
    .carousel-heading {
        font-size: 2em;        
    }

    .main-page-quote > h2 {
        font-size: 1em;
    }

    .mobile-navigation-topmenu {
        margin-left: 0.9em;
    }
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

  }

  /*- 767px - 992px -*/
  @media only screen and (min-width: 767px) and (max-width: 992px) {
    
     .mobile-navigation, .mobile-caret, .mobile-contact-us, .shopping-bag-total-desktop, .display-on-smallscreen, .desktop-navigation {
     display: none;
    }

    .carousel-heading {
     font-size: 3em;        
    }

    .main-page-quote > h2 {
        font-size: 1.5em;
    }

    .search-box {
        width: 400px;
        margin-left: -5em;
    }

    .btn-outline-secondary {
        margin-left: -1em;
        padding: 0.40em 2em 0.40em 2em;
    }

    .main-logo {
        height: 110px;
        width: 110px;
        margin: 5px 10px 20px 20px;        
    }

    .mobile-navigation-topmenu {
        margin-left: 0.9em;
    }

    .brand-carousel-1 {
        background-image: url('/media/brand-altura.png');
        width: 40vw;
        height: 5vh;
        background-size: cover;
        background-position: center;
        margin: 2.75em 0 0 0;
        
    }
    
    .brand-carousel-2 {
        background-image: url('/media/brand-shimano.png');
        width: 40vw;
        height: 5vh;
        background-size: cover;
        background-position: center;
        margin: 2.75em 5em 0 5em;
        
    }
    
    .brand-carousel-3 {
        background-image: url('/media/brand-continental.png');
        width: 40vw;
        height: 5vh;
        background-size: cover;
        background-position: center;
        margin: 2.9em 0 0 0;
        
    }
    
    .brand-carousel-4 {
        background-image: url('/media/brand-giant.png');
        width: 40vw;
        height: 5vh;
        background-size: cover;
        background-position: center;
        margin: 2.5em 4.5em 0 4.5em;
    }
    
    .brand-carousel-5 {
        background-image: url('/media/brand-oakley.png');
        width: 40vw;
        height: 5vh;
        background-size: cover;
        background-position: center;
        margin: 2.25em 0 0 0;
    }
    
    .brand-carousel-6 {
        background-image: url('/media/brand-sis.png');
        width: 40vw;
        height: 5vh;
        background-size: cover;
        background-position: center;
        margin: 2.5em 1em 0 3em;
    }

    .brand-carousel-7 {
        background-image: url('/media/brand-liv.png');
        width: 40vw;
        height: 5vh;
        background-size: cover;
        background-position: center;
        margin: 2.25em 0 0 0;
    }
    
    .brand-carousel-8 {
        background-image: url('/media/brand-schwalbe.png');
        width: 40vw;
        height: 5vh;
        background-size: cover;
        background-position: center;
        margin: 2.75em 3em 0 2.5em;
    }
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

  }
  
  /*- 992px - 1023px -*/
  @media only screen and (min-width: 992px) and (max-width: 1023px) {

    .shopping-cart-mobile, .hide-on-desktop, .mobile-caret, .mobile-contact-us, .telephone-number, .display-on-smallscreen {
        display:none;
    }

    .carousel-heading {
        font-size: 3.5em;        
    }

    .shopping-bag-total-desktop {
        display:contents;
    }

    .text-font-weight {
        font-weight: 200;
    }

    .brand-carousel-1 {
        background-image: url('/media/brand-altura.png');
        width: 40vw;
        height: 5vh;
        background-size: cover;
        background-position: center;
        margin: 2.75em 0 0 0;
        
    }
    
    .brand-carousel-2 {
        background-image: url('/media/brand-shimano.png');
        width: 40vw;
        height: 5vh;
        background-size: cover;
        background-position: center;
        margin: 2.75em 5em 0 5em;
        
    }
    
    .brand-carousel-3 {
        background-image: url('/media/brand-continental.png');
        width: 40vw;
        height: 5vh;
        background-size: cover;
        background-position: center;
        margin: 2.9em 0 0 0;
        
    }
    
    .brand-carousel-4 {
        background-image: url('/media/brand-giant.png');
        width: 40vw;
        height: 5vh;
        background-size: cover;
        background-position: center;
        margin: 2.5em 4.5em 0 4.5em;
    }
    
    .brand-carousel-5 {
        background-image: url('/media/brand-oakley.png');
        width: 40vw;
        height: 5vh;
        background-size: cover;
        background-position: center;
        margin: 2.25em 0 0 0;
    }
    
    .brand-carousel-6 {
        background-image: url('/media/brand-sis.png');
        width: 40vw;
        height: 5vh;
        background-size: cover;
        background-position: center;
        margin: 2.5em 1em 0 3em;
    }

    .brand-carousel-7 {
        background-image: url('/media/brand-liv.png');
        width: 40vw;
        height: 5vh;
        background-size: cover;
        background-position: center;
        margin: 2.25em 0 0 0;
    }
    
    .brand-carousel-8 {
        background-image: url('/media/brand-schwalbe.png');
        width: 40vw;
        height: 5vh;
        background-size: cover;
        background-position: center;
        margin: 2.75em 3em 0 2.5em;
    }
    
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

}
  
  /*- 1024px - 1200px -*/
  @media only screen and (min-width: 1024px) and (max-width: 1200px) {
  
    .shopping-cart-mobile, .mobile-navigation, .mobile-caret, .hide-on-desktop, .mobile-contact-us, .telephone-number, .display-on-smallscreen {
        display:none;
    }

    .carousel-heading {
        font-size: 3.5em;        
    }

    .shopping-bag-total-desktop {
        display:contents;
    }

    .text-font-weight {
        font-weight: 200;
    }

    .brand-carousel-1 {
        background-image: url('/media/brand-altura.png');
        width: 40vw;
        height: 5vh;
        background-size: cover;
        background-position: center;
        margin: 2.75em 0 0 0;
        
    }
    
    .brand-carousel-2 {
        background-image: url('/media/brand-shimano.png');
        width: 40vw;
        height: 5vh;
        background-size: cover;
        background-position: center;
        margin: 2.75em 5em 0 5em;
        
    }
    
    .brand-carousel-3 {
        background-image: url('/media/brand-continental.png');
        width: 40vw;
        height: 5vh;
        background-size: cover;
        background-position: center;
        margin: 2.9em 0 0 0;
        
    }
    
    .brand-carousel-4 {
        background-image: url('/media/brand-giant.png');
        width: 40vw;
        height: 5vh;
        background-size: cover;
        background-position: center;
        margin: 2.5em 4.5em 0 4.5em;
    }
    
    .brand-carousel-5 {
        background-image: url('/media/brand-oakley.png');
        width: 40vw;
        height: 5vh;
        background-size: cover;
        background-position: center;
        margin: 2.25em 0 0 0;
    }
    
    .brand-carousel-6 {
        background-image: url('/media/brand-sis.png');
        width: 40vw;
        height: 5vh;
        background-size: cover;
        background-position: center;
        margin: 2.5em 1em 0 3em;
    }

    .brand-carousel-7 {
        background-image: url('/media/brand-liv.png');
        width: 40vw;
        height: 5vh;
        background-size: cover;
        background-position: center;
        margin: 2.25em 0 0 0;
    }
    
    .brand-carousel-8 {
        background-image: url('/media/brand-schwalbe.png');
        width: 40vw;
        height: 5vh;
        background-size: cover;
        background-position: center;
        margin: 2.75em 3em 0 2.5em;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

  }

  /* 1200px - 1300px */
  @media only screen and (min-width: 1200px) and (max-width: 1300px){

    .shopping-cart-mobile, .mobile-navigation, .mobile-caret, .hide-on-desktop, .mobile-contact-us, .telephone-number, .display-on-smallscreen {
        display:none;
    }

    .carousel-heading {
        font-size: 4em;        
    }
    
    .shopping-bag-total-desktop {
        display:contents;
    }

    .text-font-weight {
        font-weight: 200;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
}

/* 1300px - 2000px */
@media only screen and (min-width: 1300px) and (max-width: 2000px){

    .shopping-cart-mobile, .mobile-navigation, .mobile-caret, .hide-on-desktop, .mobile-contact-us, .telephone-number, .display-on-smallscreen {
        display:none;
    }

    .main-logo {
        height: 130px;
        width: 130px;
        margin: 0 10px 20px 10px;
    }

    .shopping-bag-total-desktop {
        display:contents;
        
    }

    .carousel-heading {
        font-size: 4em;        
    }
    
    body {
        font-size: 1.2em;
    }

    .text-font-weight {
        font-weight: 200;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

}
@media only screen and (min-width: 2000px){

    .shopping-cart-mobile, .mobile-navigation, .mobile-caret, .hide-on-desktop, .mobile-contact-us, .telephone-number, .display-on-smallscreen {
        display:none;
    }

    .main-logo {
        height: 190px;
        width: 190px;
        margin: 0 10px 20px 10px;
    }

    .shopping-bag-total-desktop {
        display:contents;
        
    }

    h2 {
        font-size: 1.4em;        
    }

    .search-box {
        width: 1000px;
        margin-left: 5em;
    }

    body {
        font-size: 1.5em;
    }

    .text-font-weight {
        font-weight: 200;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .carousel-heading {
        font-size: 4em;
    }

}

