{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<hr class="mt-5">
<div class="container contrast-background">
  <div class="row mt-5 text-center">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-5">
      <h2>{% trans "Change Password" %}</h2>
    </div>
  </div>
</div>
<div class="container contrast-background">
    <div class="row justify-content-around">
      <div class="col-6 col-sm-12 col-md-4 offset-lg-1 col-lg-4 offset-xl-1 col-xl-4">
        <div class="row mt-5">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change float-start">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
</div>
</div>
</div>
</div>
</div>
<hr class="mt-5">
{% endblock %}
