{% extends "base.html" %}
{% load static %}

{% block content %}



{% if shoppingbag_items > 100 %}
      <table>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <tbody>
            <tr>
              {{ shoppingbag_items }}
              <td></td>
              <td></td>

<td></td>

</tr>
</tbody>
</table>
{% else %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h3 class="text-center">"Your shopping bag appears to be empty, why not add some items"</h3>
      <a href="{% url 'products' %}" class="navlink-alignment nav-link" aria="All Products">Shop All Products</a>
    </div>
  </div>
</div>

{% endif %}


{% endblock %}

{% block scripts %}
<script src="/static/js/hidebase.js"></script>
{% endblock %}