{% extends "base.html" %}
{% load static %}

{% block content %}



{% if shoppingbag_items %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
      <h2 class="mt-5">Welcome to your shopping bag</h2>
    </div>
  </div>
  <div class="row mt-5 date-product-row" >
    <div class=" col-8 col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-3 mb-3" >
      <span class="date mx-3 fw-bold">{% now "jS F Y" %}</span>
    </div>
    <div class="col-4 col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
      <span class="badge rounded-pill bg-secondary text-light float-end mt-3 mb-3 mx-3"><a class="results-number mx-1">{{ shoppingbag_items|length }}</a>
          Products Listed</span>
    </div>
  </div>

 

</div>
      <table>
        <thead>
          <tr>
            <th>Item</th>
            <th>Name</th>
            <th>Ean</th>
          </tr>
          </thead>
          <tbody>
            {% for i in shoppingbag_items %}
            <tr> {% if forloop.counter %}
              <td><li class="list-group-item">{{ forloop.counter }}</li></td>
              <td><li class="list-group-item">{{ i.product.name }}</li></td>
              <td><li class="list-group-item">{{ i.product.ean }}</li></td>
              <td><li class="list-group-item"><img src='{{ i.product.image1.url }}' class="w-25"></li></td>
              {% endif %}
              
              
             

</tr>
{% endfor %}   
</tbody>
</table>
{% else %}
<div class="container-fluid no-products-found">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="text-center text-font-weight ">
          <h2 class="pt-5">Hmm your Shopping Bag Appears Empty #:-(</h2>
          <h3 class="mt-5 empty-bag-message">Why not add some items ?</h3>
          <i class="fas fa-shopping-bag bag-spinner fa-3x mt-5 mb-3"></i>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="text-center">
            <a href="{% url 'products' %}" class="btn btn-outline-secondary btn-lg mt-5 fw-bold">ALL PRODUCTS</a>
      </div>
    </div>
  </div>
</div>

{% endif %}


{% endblock %}

{% block scripts %}
<script src="/static/js/hidebase.js"></script>
{% endblock %}