{% extends "base.html" %}
{% load static %}

{% block content %}
{% firstof product.category.id as categorynum %} {{ categorynum }} <!-- for debug only-->
<!-- This is just targetted by rating.js to pull the rating value -->
<span id="readStarRating" class="d-none">{{ product.rating }}</span>
<!-- breadcrumb nav -->
<div class="card">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mx-1 mt-2">
      <li class="breadcrumb-item bg-gradient-secondary fs-6"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item bg-gradient-secondary fs-6"><a href="{% url 'products' %}?category={{ product.category }}">{{ product.category|title }}</a></li>
      <li class="breadcrumb-item active bg-gradient-secondary fs-6" aria-current="page">{{ product.name|title }}</li>
    </ol>
  </nav>
  <h1 class="card-title text-center mt-3">{{ product.name|upper }}</h1>
  <div class="text-center mt-1" id="displayStarRating" title="{{ product.rating }}"></div>
  <!--rating value -->
  <span id="ratingMessage" class="text-center mt-1 grow-element">Rating: {{ product.rating }}</span>
  <span id="noRatingMessage" class="text-center mt-1 grow-element"></span>
  <!-- Image Carousel start -->
  <div id="productDetailCarousel" class="carousel slide carousel-fade carousel-dark" >
    <div class="carousel-indicators">
    <button type="button" data-bs-target="#productDetailCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#productDetailCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#productDetailCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
    <div class="carousel-inner text-center">
      <div class="carousel-item active">
        <img src="{{ product.image1.url }}" class="card-img-top reduce-image mb-5" alt="image1">
      </div>
      <div class="carousel-item">
        <img src="{{ product.image2.url }}" class="card-img-top reduce-image mb-5" alt="image2">
      </div>
      <div class="carousel-item">
        <img src="{{ product.image3.url }}" class="card-img-top reduce-image mb-5" alt="image3">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#productDetailCarousel" data-bs-slide="next">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#productDetailCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- Image Carousel start -->
  <div class="card-body">
    <h2 class="text-center mb-3">Highlights</h2>
    <p class="card-text description-highlights">{{ product.highlights|lower|capfirst }}</p>
    <h3 class="text-center mt-4 mb-3">Description</h3>
    <p class="card-text description-highlights">{{ product.description|lower|capfirst }}</p>
  </div>
  {% if product.category.id == 19  %}
  <ul class="list-group list-group-flush mt-5">
    <li class="list-group-item h5 product-bike-features"><span>Fork:</span><small class="lead"> {{ product.feature1|title }}</small></li>
    <li class="list-group-item h5 product-bike-features"><span>Frame:</span><small class="lead"> {{ product.feature2|title}}</small></li>
    <li class="list-group-item h5 product-bike-features"><span>Wheels:</span><small class="lead"> {{ product.feature3|title }}</small></li>
    <li class="list-group-item h5 product-bike-features"><span>Groupset:</span><small class="lead"> {{ product.feature4|title }}</small></li>
  </ul>
  {% else %}
  <h3 class="mt-5 mx-3">Features</h3>
  <ul class="list-group list-group-flush">
    <li class="list-group-item h5 product-bike-features"><i class="fas fa-bicycle features-bulletpoint"></i><span class="features-text">- {{ product.feature1|title }}</span></li>
    <li class="list-group-item h5 product-bike-features"><i class="fas fa-bicycle features-bulletpoint"></i><span class="features-text">- {{ product.feature2|title }}</span></li>
    <li class="list-group-item h5 product-bike-features"><i class="fas fa-bicycle features-bulletpoint"></i><span class="features-text">- {{ product.feature3|title }}</span></li>
    <li class="list-group-item h5 product-bike-features"><i class="fas fa-bicycle features-bulletpoint"></i><span class="features-text">- {{ product.feature4|title }}</span></li>
  </ul>
{% endif %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-3 col-lg-3 col-xl-2 text-center">
        <a href="#" class="btn btn-outline-secondary mt-5" role="button"><i class="fas fa-arrow-up mx-2"></i>Back to
          top</a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-8 text-center">
        <form class="mt-5 form"><a href="#" class="btn btn-outline-success mx-2" role="button"><i
              class="fas fa-shopping-bag mx-2"></i>Add
            to Bag</a><a class="btn btn-outline-success btn-minus" onclick="decrement()"><i class="fa fa-minus"></i></a><input
            id="bag-quantity" class="text-center form-control form-quantity" min="0" name="quantity" value="1" type="number">
            <a class="btn btn-outline-success btn-plus" onclick="increment()">
            <i class="fa fa-plus"></i></a></form>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 col-xl-2 text-center">
        <a href="{% url 'products' %}?category={{ product.category }}" class="btn btn-outline-secondary mt-5"
          role="button">{{ product.category|lower|capfirst }}<i class="fas fa-arrow-right mx-2"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="mt-5">
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/hidebase.js"></script>
<script src="/static/js/rating.js"></script>
<script src="/static/js/quantity.js"></script>
{% endblock %}
