{% extends "base.html" %}
{% load static %}



{% block content %}

<div class="container-fluid my-0">
    <div class="row ">
        {% for product in products %}
      <div class="col-xm-3 col-sm-6 col-md-4 col-lg-4 col-xl-4 ">
        <div class="card my-3 grow-effect">
         <img src="{{ product.image.url }}" alt="road bike"/>
         <h2>Category</h2><p>{{ product.category }} </p> 
         <h2>Name</h2><p>{{ product.name }}</p>
         <h2>Price</h2><p>${{ product.price }}</p>
         <h2>Description</h2><p>{{ product.description }} </p> 
         <h2>Rating</h2><p>{{ product.rating }} </p> 
        </div>
      </div>
{% endfor %}
      </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="/static/js/hidebase.js"></script>

{% endblock %}