{% extends "base.html" %}
{% load static %}

{% block content %}
<span id="readStarRating" class="d-none">{{ product.rating }}</span>
<!-- This is just targetted by rating.js to pull the rating value -->
<div class="card">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mx-1 mt-2">
      <li class="breadcrumb-item bg-gradient-secondary fs-6"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item bg-gradient-secondary fs-6"><a href="{% url 'products' %}">Bikes</a></li>
      <li class="breadcrumb-item active bg-gradient-secondary fs-6" aria-current="page">{{ product.name|title }}</li>
    </ol>
  </nav>
  <h1 class="card-title text-center mt-3">{{ product.name|upper }}</h1>
  <div class="text-center mt-1" id="displayStarRating" title="{{ product.rating }}"></div>
  <span class="text-center mt-1 grow-element">Rating: {{ product.rating }}</span>
  <img src="{{ product.image1.url }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="text-center mb-3">Highlights</h2>
    <p class="card-text">{{ product.highlights|lower|capfirst }}</p>
    <h3 class="text-center mt-4 mb-3">Description</h3>
    <p class="card-text">{{ product.description|lower|capfirst }}</p>
  </div><!-- add logic here to filter out unused fields in minor products -->
  <ul class="list-group list-group-flush">
    <li class="list-group-item h4">Frame:<small class="lead"> {{ product.frame|title }}</small></li>
    <li class="list-group-item h4">Fork:<small class="lead"> {{ product.fork|title}}</small></li>
    <li class="list-group-item h4">Wheels:<small class="lead"> {{ product.wheels|title }}</small></li>
    <li class="list-group-item h4">Groupset:<small class="lead"> {{ product.groupset|title }}</small></li>
  </ul>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-3 col-lg-3 col-xl-2 text-center">
        <a href="#" class="btn btn-outline-secondary mt-5" role="button"><i class="fas fa-arrow-up mx-2"></i>Back to
          top</a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-8 text-center">
        <form class="mt-5 form"><a href="#" class="btn btn-outline-success mx-2" role="button"><i
              class="fas fa-shopping-bag mx-2"></i>Add
            to Bag</a><a class="btn btn-outline-success btn-minus" onclick="decrement()"><i class="fa fa-minus"></i></a><input
            id="bag-quantity" class="text-center form-control form-quantity" min="0" name="quantity" value="1" type="number">
            <a class="btn btn-outline-success btn-plus" onclick="increment()">
            <i class="fa fa-plus"></i></a></form>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 col-xl-2 text-center">
        <a href="{% url 'products' %}" class="btn btn-outline-secondary mt-5"
          role="button">{{ product.category|lower|capfirst }}<i class="fas fa-arrow-right mx-2"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="mt-5">
  </div>
</div>


{% endblock %}
{% block scripts %}
<script src="/static/js/hidebase.js"></script>
<script src="/static/js/rating.js"></script>
<script src="/static/js/quantity.js"></script>
{% endblock %}
