{% extends "base.html" %}
{% load static %}

{% block content %}

{% if current_categories %}
You choose a category
<a href="{% url 'products' %}?category=roadbikes">Link</a>
{% else %}
You searched!
{% endif %}
<!-- Left off here, currently searching through all products with these links -->
<div class="container mt-5">
  <div class="row d-flex">
    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 col-6">
      <ul class="product-filter-boxes">
        Price
        <li><a class="nav-link" href="{% url 'products' %}?sort=price&direction=asc"><i class="fas fa-angle-up"></i></a>
        </li>
        <li><a class="nav-link" href="{% url 'products' %}?sort=price&direction=desc"><i
              class="fas fa-angle-down"></i></a></li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 col-6">
      <ul class="product-filter-boxes">
        Rating
        <li><a class="nav-link" href="{% url 'products' %}?sort=rating&direction=asc"><i
              class="fas fa-angle-up"></i></a></li>
        <li><a class="nav-link" href="{% url 'products' %}?sort=rating&direction=desc"><i
              class="fas fa-angle-down"></i></a></li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 col-6">
      <ul class="product-filter-boxes">
        Category
        <li><a class="nav-link" href="{% url 'products' %}?sort=category&direction=asc"><i
              class="fas fa-angle-up"></i></a></li>
        <li><a class="nav-link" href="{% url 'products' %}?sort=category&direction=desc"><i
              class="fas fa-angle-down"></i></a></li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 col-6">
      <ul class="product-filter-boxes">
        Name
        <li><a class="nav-link" href="{% url 'products' %}?sort=name&direction=asc"><i class="fas fa-angle-up"></i></a>
        </li>
        <li><a class="nav-link" href="{% url 'products' %}?sort=name&direction=desc"><i
              class="fas fa-angle-down"></i></a></li>
      </ul>
    </div>
  </div>
</div>
</div>
<hr>
<!-- breadcrumb nav for each category  -->
<div class="container">
  <div class="row d-flex">
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-12">
      <nav aria-label="breadcrumb">
        <ul class="breadcrumb mt-0">
          <li class="breadcrumb-item bg-gradient-secondary fs-5 mx-3 px-0"><a href="{% url 'home' %}">Home</a></li>
          {% for category in current_categories %}
          {% if forloop.last %}
          <li class="breadcrumb-item bg-gradient-secondary fs-5">
            <span class="mx-1">{{ category.friendly_name }}</span></li>
          {% endif %}
          {% endfor %}
          </li>
        </ul>
      </nav>
    </div>
    {% if current_categories or search_term  %}
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 col-12">
      <div class="float-start float-sm-end float-md-end float-lg-end float-xl-end mx-3 mb-3"><span
          class="badge rounded-pill bg-secondary text-light"><a class="results-number mx-1">{{ products|length }}</a>
          Products Found</span></div>
    </div>
  </div>
</div>
{% endif %}

{% if products|length == 0 %}
<div class="container">
  <div class="row d-flex">
    <div class="col-xm-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="text-center text-font-weight no-products-found">
        <h2>Sorry no results found</h2>
        <a href="{% url 'home' %}"><i class="fas fa-home fa-4x mt-4"></i></a>
      </div>
    </div>
  </div>
  {% endif %}
  <!-- Renders out each product -->
  <div class="container-fluid my-0">
    <div class="row">
      {% for product in products %}
      <div class="col-xm-3 col-sm-6 col-md-4 col-lg-4 col-xl-4 ">
        <div class="card my-3 grow-effect">
          <span class="text-center my-2">{{ product.category.friendly_name }}</span>
          <hr class="my-1">
          <img src="{{ product.image1.url }}" alt="{{ product.name }}" />
          <div class="card-body card-thumbnails-body">
            <h3 class="card-title">{{ product.name|upper }}</h3>
            <p>€ {{ product.price }}</p>
            <a href="{% url 'product_detail' product.id %}"
              class="btn btn-secondary stretched-link override-link-color">More Details</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endblock %}
  {% block scripts %}
  <script src="/static/js/hidebase.js"></script>
  {% endblock %}
