{% load static %}
{% load humanize %}
<div class="toast-header bg-success text-white">
  <i class="fas fa-check-circle fa-2x"></i>
  <span class="text-center px-2 fs-6 fw-bold">Success</span>
</div>
<div class="toast-body">
  <div class="row float-start">
    <div class="col-12 toast-message">
      {{ message }}
    </div>
  </div>
  <hr>
  <!-- if there are items in your shopping -->
  {% if bagtotal and not on_profile_page %}
  <p class="logo-font bg-white text-black py-1">Your Shopping Bag ({{ shoppingbag_items|length }})</p>
            <div class="bag-notification-wrapper">
                {% for shop in shoppingbag_items  %}
                    <div class="row">
                        <div class="col-3 my-1">
                            <img class="w-100" src="{{ shop.product.image1.url }}">
                        </div>
                        <div class="col-9">
                            <p class="my-0"><strong>{{ shop.product.name|lower|title }}</strong></p>
                            <p class="my-0 small text-muted">Quantity: {{ shop.quantity }}</p>
                        </div>
                    </div>
                {% endfor %}
                <div class="row pt-2">
                  <div class=" col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <a href="{% url 'view_shoppingbag' %}" class="btn btn-outline-success btn-sm float-end"><i class="fas fa-shopping-bag toast-shopping-bag fa-lg mx-1"></i>Shopping Bag</a>
                    <button type="button" class="btn btn-outline-secondary btn-sm float-end mx-1" data-bs-dismiss="toast">Close</button>
                  </div>
                </div>
            </div>
            {% else %}
            <!-- if the shopping bag does not contain any items -->
  <div class="row pt-2">
    <div class=" col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <button type="button" class="btn btn-outline-secondary btn-sm float-end mx-1" data-bs-dismiss="toast">Close</button>
    </div>
  </div>
</div>
{% endif %}
